    body{
        margin: 0;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: background 0.3s, color 0.3s;
    }

    .light{
        background: white;
        color: black;
    }

    .dark{
        background: #121212;
        color: white;
    }

    .card{  
        border-radius: 6px;
        text-align: center;
        padding: 20px;
        background: lightgray;
    }

    .dark .card{
        background: #1f1f1f;
    }

    button{
        padding: 20px 35px;
        cursor: pointer;
        font-size: 16px;
    }