h1{
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    color: rgb(31, 240, 188);
}
.container{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;  
}
h2{
    font-size: 25px;
}
.hotel1,
.hotel2,
.hotel3,
.hotel4{
    border: 1px solid black;
    text-align: center;
    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;  
}
.hotel1,
.hotel2{
    background-color: lightyellow;
}

.hotel3,
.hotel4{
    background-color: lightgreen;
}
button{
    background-color: lightgrey;
    color: blue;
    margin-top: auto;   
}
