body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("https://as1.ftcdn.net/jpg/02/89/97/90/1000_F_289979071_dP16zHOQ9B6CCHD6zlzrh8qLs7bBDLTh.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
}

/* dark overlay so text is readable */
.overlay {
    background-color: rgba(0, 0, 0, 0.451);
    min-height: 100vh;
    padding: 40px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
}

.tagline {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.menu {
    margin-left: 40px;
}

h2 {
    color: white;
    font-size: 28px;
}

ul {
    list-style: disc;
    color: white;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;

    background-color: orange;
    border: none;
    cursor: pointer;
}
