body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
    color: brown;
    background-color: cornsilk;
    box-shadow: 0 15px 25px gold;
    transition: 0.4s ease;
}

button{
    margin-top: 10px;
    padding: 15px 20px;
    cursor: pointer;
    color:blue;
    background: rgb(255, 255, 255);
}

.dark{
    background-color: #000;
    color: white;
}