*{
    width: 500px;
    border: 15px #525150;
    box-shadow: deeppink;
    box-sizing: border-box;
}
a{
    margin: 300px 30px 20px 10px;
}
img{
    margin: 20px;
}
header{
    text-align: center;
    margin: 20px;
}
p{
    margin-top: 20px;
    padding: 5px;
}
button{
    background-color: rgb(85, 144, 246);
    color: white;
    border-radius: 10%;
    width: 100px ;
    text-align: center;
    margin: 25px 50px 75px 200px;
    padding: 15px;
}
