
h1{
    text-align: center;
    color: darkorange;
}
.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 16px;
}
.card{
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
    width: 300px;
    height: 200px;
}
.card:hover{
    background-color: darkgray;
    color: white;  
}
button{
    padding: 6px 12px;
    border: none;
    background-color: darkorange;
    color: white;
    border-radius: 4px;
}

button:hover{
    background-color: orange;
    cursor: pointer; 
}