body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.box{
    padding: 20px;
    width: 300px;
    align-items: center;
    background-color: lightgreen;
    text-align: center;
    border-radius: 8px;
}

button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
