body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.10s ease;
}

.container{
    width: 400px;
    padding: 20px;
    background-color: brown;
    border-radius: 15px;
    box-shadow: 20px 20px 30px burlywood;
    color: burlywood;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
}

input{
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 2px 2px white;
}

.addBtn{
    padding: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 14px;
}

.clearCompleted{
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.filter-option input{
    display: none;
}

.filter-option span{
    padding: 6px 12px;
    border-radius: 6px;
    background-color: wheat;
    cursor: pointer;
    color: coral;
    border: 1px solid white;
}

.filter-option input:checked + span{
    background-color: beige;
    color: black;
    border: 1px solid black;
}

.top-section{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filters{
    display: flex;
    gap: 10px;
}

.counts{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

li button{
    border-radius: 10px;
    cursor: pointer;
}

li{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #e2e2e2;
    color: black;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
}

li:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
    background-color: lightgreen;
}