body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
}

.container{
    width: 300px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: beige;
    color: brown;
}

h2{
    font-size: 40px;
    margin: 20px 0;
}

button{
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.inc{
    background-color: green;
    color: white;
    padding: 10px 15px;
}

.dec{
    background-color: red;
    color: white;
    padding: 10px 15px;
}

.res{
    background-color: orange;
    color: white;
    padding: 7px;
}