.container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.container div{
    padding: 10px;
    text-align: center;
    background-color: white;
    width: 200px auto;
    height: 300px auto;
    border: 1px solid black;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    padding: 5px;
}
a{
    border: 1px solid black;
    background-color: #efe9e9;
    padding: 2px;
    border-radius: 2pxs;
}
.product-img{
    width: 200px;
    height: 200px;
}