h1{
    color: darkgreen;
    font-size: 50px;
    text-align: center;
}

.zoo{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.animal{
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(173, 169, 169);
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}

.animal:hover{
    color: white;
    background-color: gold;
    transform: scale(1.05);
}

.button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.button:hover{
    background-color: darkblue;
    cursor: pointer;
}

#result{
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
    color: Green;
}