body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.card{
    width: 300px;
    text-align: center;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0 20px 30px blue;
    background-color: lightsteelblue;
    transition: 0.4s ease;
}

input{
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid black;
}

button{
    margin-top: 10px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #333;
    cursor: pointer;
    color: white;

}

.hidden{
    display: none;
}