.navbar{
    list-style: none;
    display: flex;
    gap: 30px;
    background-color: lightblue;
    padding: 0 20px;
}
.navbar li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
.navbar li a:hover{
    background-color: darkblue;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.card {
    border: 1px solid black;
    padding: 10px;
    width: 190px;
    margin: 10px auto;
    background-color: lightsteelblue;
    text-align: center;
}

.card:hover {
    background-color: cornflowerblue;
}
button{
    background-color: lightgrey;
    color: blue;
    margin-top: auto;  
}
button:hover{
    background-color: black;
}
.card {
    transition: background-color 0.2s ease, transform 0.2s ease;
}
.card:hover {
    transform: scale(1.05);
}
.btn {
    transition: background-color 0.2s ease, transform 0.2s ease;
}
.btn:hover {
    transform: scale(1.05);
}