h1{
    align-items: center;
    color: gold;
}
.container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
@media (max-width: 600px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}
.card{
    transition: transform 0.3s, background-color 0.3s;
}
.card{
    border: 1px solid black;
    padding: 16px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    margin-top: 10px;
}
.card:hover{
    background-color: lightblue;
    transform: scale(1.05);
    color: white;
}