body {
    background-color: #f2f2f2;
}

.card {
    width: 400px;
    border: 2px solid black;
    padding: 20px;
    margin: 200px auto;
    background-color: lightblue;
}
.yash{
    text-align: center;
}
button {
    padding: 10px 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}
