.container{
    display:flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container div{
    color: darkblue;
    width: 200px;
    height: 100px;
    background-color: lightblue;
    padding: 20px;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}