body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: scale(0.5s);
    font-family: "Sofia", sans-serif;
}

.card{
    width: 300px;
    height: auto;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: ivory;
    box-shadow: 0 10px 19px gold;
}

.inputsection{
    gap: 10px;
}

input{
    border-radius: 10px;
    padding: 6px;
}

.addbtn{
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-left: 2px;
}

li button{
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}

li{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    background-color: #e2e2e2;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
}

li:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
    background-color: lightgreen;
}

.completed{
    text-decoration: line-through;    
    opacity: 0.6;
}

