body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.card{
    width: 300px;
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 20px 35px gold;
    transition: 0.4s ease;
}

.card h1{
    color: gold;
    font-size: 40px;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}

button{
    color: grey;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    color: black;
    cursor: pointer;
}

