body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    transition: scale(0.4s);
}

.container{
    width: 300px;
    padding: 10px;    
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 14px 15px green;
}

h1{
    text-align: center;
}

.input_section{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 8px;
}

button{
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #e2e2e2;
    margin-bottom: 8px;
    border-radius: 6px;
}

li:hover{
    background-color: lightgreen;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

li button {
    background-color: #ff4d4d;
    color: white;
}